body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    background: transparent;
    background-color: gray;
}

@font-face {
    font-family: 'aAnotherTag'; /*a name to be used later*/
    src: url('../resources/assets/crew/Fonts/aAnotherTag.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Akira'; /*a name to be used later*/
    src: url('../resources/assets/crew/Fonts/Akira.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Boston'; /*a name to be used later*/
    src: url('../resources/assets/crew/Fonts/Bostoncaps-lD5e.otf'); /*URL to font*/
}

.characters{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: -50px;
}

.player1 {
    z-index: 5;
    background-image: url('../resources/assets/crew/overlayP1BackgroundCharacter.png');
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    position: relative;
}


.player2 {
    z-index: 5;
    background-image: url('../resources/assets/crew/overlayP2BackgroundCharacter.png');
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.player1Border {
    z-index: 5;
    margin-top: 5px;
    height: 500px;
    width: 400px;
    position: relative;
}

.player2Border {
    z-index: 5;
    height: 510px;
    width: 380px;
    margin-left: 20px;
}

.playerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    z-index: 10;
    margin-left: 65px;
    text-align: center;
}

.ilegible1, .ilegible2 {
    font-family: 'aAnotherTag';
    color: #fff;
    font-size: 80px;
    margin-bottom: -30px;
    margin-top: 15px;
    display: none;
}

.legible1, .legible2 {
    font-family: 'AKira';
    color: #fff;
    display: none;
}

.playerImage1 {
    display: block;
}

.playerImage2 {
    display: block;
}

.charac1Image{
    width: 300px;
    height: 350px;
    display: none;
}

.charac2Image{
    width: 300px;
    height: 350px;
    display: none;
}


.scoreContainer {
    width: 600px;
    height: 400px;
}

.scoreP1 {
    z-index: 10;
    font-size: 180px;
    position: absolute;
    right: 975px;
    color: black;
    font-family: 'Boston';
    margin-top: 20px;
}

.scoreP2 {
    z-index: 10;
    font-size: 180px;
    position: absolute;
    left: 1030px;
    color: black;
    margin-top: 60px;
    font-family: 'Boston';
}

/* contenedor inferior con jugadores disponibles */

.playersContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 300px;
}

.playerAvailable1{
    color: white;
    padding: 10px;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr;
}


.playerAvailable2{
    color: white;
    padding: 10px;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr;
}

.videoContainer{ 
    position: relative;
    cursor: pointer;
}

.videoNameTag {
    color: white;
    position: absolute;
    font-size: 20px;
    z-index: 10 !important;
    left: 90px;
    margin-top: 10px;
}

.playerName{
    margin-left: -20px;
}

/* Fondo modal: negro con opacidad al 50% */
.modal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 10; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
    align-items: center;
}

.modal-content {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: #401476;
    margin: auto; /* Centrada */
    padding: 20px;
    width: 40%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
    border-radius: 15px;
    border: 2px solid #ECC502;
}

.cerrar {
    color: #ECC502;
    float: right;
    font-size: 30px;
    font-weight: bold;
    font-weight: 600;
  }
  .cerrar:hover,
  .cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content-player{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-content-player-info{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

@keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
@keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modalPlayerName{
    background-color: #d5d1d1;
    border: 1px solid black;
    outline: none;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
}

.modalPlayerName:focus {
    outline: none;
}

.modalSelectContainer{
    border: 1px solid #d9d9d9;
    height: 28px;
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 4px;
}

select{
    background-color: #d5d1d1;
    border: 1px solid black;
    font-size: 14px;
    height: 100% !important;
    padding: 5px;
    width: 100% !important;
}

select:focus{ outline: none;}

.modalSelectContainer::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:40px;
	height:30px;
	background-color:black;
    color: #d5d1d1;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}

.select2-container {
    width: 243px !important;
    height: 100% !important;
}

.select2-container--default .select2-selection--single {
    background-color: #d5d1d1 !important;
    border: none !important;
    border-radius: none !important;
    font-weight: 600;
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #d5d1d1 !important;
}

.select2-container--open .select2-dropdown--below {
    border-bottom: none;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    border-radius: 5px;
    background-color: #d5d1d1 !important;
}

.select-dropdown {
    position: static;
}

.select-dropdown .select-dropdown--above {
        margin-top: 336px;
}

.modalImageCharacterContainer{
    z-index: 5;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #d5d1d1;
    height: 400px;
    width: 340px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 3px solid black;
}

.modalContentCharacterConfiguration{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.modalImageCharacter{
    display: none;
    width: 300px;
    height: 380px;
    padding: 10px;
    margin-left: 10px;
}

.modalSelectSkinContainer{
    border: 1px solid #d9d9d9;
    height: 28px;
    overflow: hidden;
    width: 340px;
    position: relative;
    border-radius: 4px;
}

.addUserButton{
    display: block;
    width: 100%;
    height: 40px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 600;
}

.addUserButton:hover{
    background-color: #d5d1d1;
    cursor: pointer;
}

.deactivateUserButton{
    display: none;
    width: 100%;
    height: 40px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 600;
    background-color: #d0d0cd;
}

.deactivateUserButton:hover{
    background-color: #bd1414;
    cursor:pointer;
}

.activateUserButton{
    display: none;
    width: 100%;
    height: 40px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 600;
    background-color: #d0d0cd;
}

.activateUserButton:hover{
    background-color: #129256;
    cursor: pointer;
}

.scoresModalContainer{
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.containerScoreModal1{
    display: flex;
    flex-direction: column;
}

.modalScore1, .modalScore2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalScoreButtons1, .modalScoreButtons2{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    justify-content: center;
    gap: 20px;
}

.modalScoreButton{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.reduceScore, .addScore {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 600;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

.scoreModalSpan1, .scoreModalSpan2{
    color: #ECC502;
    font-size: 40px;
    font-weight: 600px !important;
}

.modal-content-score {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: #401476;
    margin: auto; /* Centrada */
    padding: 20px;
    width: 20%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
    border-radius: 15px;
    border: 2px solid #ECC502;
}

.modal-edit {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 10; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
    align-items: center;
}

.userManipulationButtonContainer{
    margin-top: 100px;
}